* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.container-big {
  margin: 0 auto;
  max-width: 1200px;
}

/* Typo */
a {
  color: white;
  text-decoration: none;
}

body {
  font-family: "Rubik", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff6900;
  z-index: index 999;
}
